.headermenuBar{
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    height: auto;
    position: relative;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
     box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
  }
  .signInLoginButtonStyle{
    border-color: #cc4d29;
    background-color: #cc4d29 !important ; 
    color:#ffffff !important; 
    font-size: 14px;
  }
  .signUpLoginButtonStyle{
    border-color: #fff;
    background-color: #fff;
    color:#000000; 
    box-shadow:5px #000000; 
  }
  .ColunneDegauche{
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    width: auto;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.marge{
  margin: 0 0 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #6f6f6f; 
  font-size: 13px;
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}


.google-button {
  height: 40px;
  width: auto;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  
  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}
    
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}